@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 700 */

/* used fonts  */

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary: rgba(254, 163, 1, 1);
  --secondary: rgba(1, 172, 253, 1);
  --success: rgba(5, 212, 223, 1);
  --danger: rgba(93, 88, 239, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 600;
}
.txt-primary {
  color: var(--primary);
}
.txt-secondary {
  color: var(--secondary);
}
.txt-success {
  color: var(--success);
}
.txt-danger {
  color: var(--danger);
}
.img-fluid {
  width: 100%;
}
header,
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.btn-primary {
  background-color: var(--primary);
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
}
.btn-secondary {
  padding: 10px 47px;
  background-color: #000;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
}
.hide {
  display: none;
}
.unhide {
  display: block;
}
.logo-container,
#hero,
.curriculum,
.card,
#stories-section {
  justify-content: center;
  align-items: center;
}
section {
  padding: 60px 0 0 0;
}
.section-title {
  font-size: 2.9rem;
}
.curriculum,
#stories-section {
  flex-direction: column;
  gap: 80px;
}
/* header style  */

/* navbar style  */
nav,
.mobile-nav {
  justify-content: space-between;
  align-items: center;
}
.mobile-nav {
  padding: 12px;
  border-bottom: 0.5px solid var(--primary);
}
.nav-item > ul {
  gap: 32px;
}
.nav-link {
  list-style-type: none;
}
.nav-link a {
  text-decoration: none;
}
/* hero section styles  */
#hero {
  gap: 50px;
}
.hero-title {
  font-size: 3.5rem;
}
.hero-description {
  font-size: 1.25rem;
}

.hero-content-left {
  flex-direction: column;
  gap: 24px;
}

/* main related style  */
main {
  /* background-image: url(/assets/bg.png); */
  background-image: url("/assets/bg.png");
}

/* curriculum section styles  */

.curriculum-card-container {
  gap: 28px;
}
.card {
  padding: 40px;
  /* background-color: #ff7b7b; */
  border-radius: 18px;
  flex-direction: column;
  gap: 32px;
}
.card-1 {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 1px solid rgba(222, 245, 255, 1);
}
.card-2 {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 1px solid rgba(255, 244, 220, 1);
}
.card-3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  border: 1px solid rgba(242, 232, 255, 1);
}
.card-title {
  font-size: 1.5rem;
}
.card-info {
  color: rgba(128, 128, 128, 1);
}
.card-btn {
  background-color: transparent;
  border: none;
}

/* stories section styles */
#stories-section-bg {
  background: linear-gradient(
    0deg,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3) 100%
  );
  padding-bottom: 60px;
}
.stories-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
}
.grid-item {
  border-radius: 16px;
  background-color: #fff;
}
.item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
#findOut-card {
  padding: 58px 38px 34px 38px;
}
#findOut-card-title {
  font-size: 1.5rem;
}
#findOut-card-info {
  color: rgba(102, 102, 102, 1);
  font-size: 0.9rem;
  margin-top: 47px;
}
.grid-card-img-container > img {
  border-radius: 16px 16px 0 0;
}
.grid-card-title {
  padding: 43px 54px 33px 37px;
  font-size: 0.9rem;
}
#stories-btn {
  padding: 10px 60px;
}
/* .item-2,
.item-3,
.item-4,
.item-5 {
} */
/* mobile responsive  related styles  */
@media screen and (max-width: 576px) {
  .desktop-nav {
    display: none;
  }
  .hide {
    display: block;
  }
  #hero {
    flex-direction: column-reverse;
    padding: 12px;
    text-align: center;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-description {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .hero-content-right img {
    width: 100%;
  }
  .btn-secondary {
    font-size: 1rem;
    padding: 6px 24px;
  }
  .section-title {
    font-size: 1.8rem;
  }
  .curriculum,
  #stories-section {
    gap: 0;
  }
  .curriculum-card-container {
    flex-direction: column;
    transform: scale(0.9);
  }
  .unhide {
    display: none;
  }
  #stories-section-bg {
    padding: 40px 0;
  }
  #stories-section {
    padding: 0;
  }
  .stories-grid-container {
    grid-template-columns: repeat(2, 1fr);
    transform: scale(0.9);
  }
}
